@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme {
  --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-playfair: 'Playfair Display', Roboto;
  --font-vorkurs: Vorkurs;
  --color-mint-500: oklch(0.72 0.11 178);
  --color-cream-300: oklch(0.93 0.07 83.1);
  --color-cream-100: oklch(0.69 0.12 80.3);
  --color-darkred: #870400
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant custom (@media (width <=820px));
@custom-variant custom-786 (@media (width >=797px));
@custom-variant custom-830 (@media (width >=830px));
@custom-variant 640-787 (@media (min-width: 640px) and (max-width: 787px));

@custom-variant pagination (@media (min-width: 800px));

/* Custom screen - 820px */
@variant custom {
  display: block
}

@variant custom-786 {
  display: block
}

@variant custom-830 {
  display: block
}

/* Pagination screen - 800px */
@variant pagination {
  display: flex;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

[x-cloak] {
  display: none !important;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .post-content h1 {
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: block;
  }
  .post-content h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    display: block;
  }
  .post-content ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    display: block;
  }
  .post-content li {
    display: list-item;
    margin-bottom: 0.25rem;
  }
  .post-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  .post-content table {
        @apply w-full text-sm text-left rtl:text-right text-gray-700 dark:text-gray-300 mb-6 border-collapse;
    }

    /* The Header Row */
    .post-content thead {
        @apply text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 border-b border-gray-200 dark:border-gray-600;
    }

    /* Header Cells */
    .post-content th {
        @apply px-6 py-3 font-semibold;
    }

    /* Body Rows */
    .post-content tbody tr {
        @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
    }

    /* Body Cells */
    .post-content td {
        @apply px-6 py-4;
    }
}