.ador_action_button_text {
	background: #eb0000;
	background-image: -webkit-linear-gradient(top, #eb0000, #800000);
	background-image: -moz-linear-gradient(top, #eb0000, #800000);
	background-image: -ms-linear-gradient(top, #eb0000, #800000);
	background-image: -o-linear-gradient(top, #eb0000, #800000);
	background-image: linear-gradient(to bottom, #eb0000, #800000);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	border: none;
	-webkit-box-shadow: 0px 1px 4px #666666;
	-moz-box-shadow: 0px 1px 4px #666666;
	box-shadow: 0px 1px 4px #666666;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	margin: 10px 0;
}
.ador_action_button_text:hover {
	background: #8c8c8c;
	background-image: -webkit-linear-gradient(top, #8c8c8c, #595959);
	background-image: -moz-linear-gradient(top, #8c8c8c, #595959);
	background-image: -ms-linear-gradient(top, #8c8c8c, #595959);
	background-image: -o-linear-gradient(top, #8c8c8c, #595959);
	background-image: linear-gradient(to bottom, #8c8c8c, #595959);
	text-decoration: none;
	cursor: pointer;
}
.ador_action_button:hover {
	cursor: pointer;
}
#snowBackgroundDiv {
	/*	background-image: url(../images/wolken2.png), url(../images/bgr_wolken.png);*/
	background-position: top left;
	background-repeat: no-repeat, repeat;
	background-size: contain, auto;
	opacity: 1;
	overflow: hidden;
	z-index: 99999;
}
#ador_plg_actionButton {
	display: none;
	z-index: 100001;
	background: #000000;
	/*	border:10px solid #FFFFFF; */
	/*	border-radius:50%; */
	color: #000000;
	background: url(../images/product_background_05.png) no-repeat;
	background-size: contain;
	/*	box-shadow: 0px 0px 15px #999; */
}
#ador_plg_actionButton a {
	color: #000000;
	text-decoration: underline;
}
#ador_plg_actionButton #closeButton {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 30px;
	margin-right: 30px;
}
#ador_plg_actionButton #closeButton:hover {
	cursor: pointer;
}
#ador_plg_actionButton .product-headerText {
	text-align: center;
	margin-top: 15%;
	margin-bottom: 10px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
	color: #BD2628;
	font-size: 30px;
}
#ador_plg_actionButton .product-image a img {
	max-height: 250px;
	max-width: 300px;
	text-align: center;
	box-shadow: 0px 0px 20px #333;
	border-radius: 5px;
	padding: 10px;
}
#ador_plg_actionButton .product-image {
	text-align: center;
}
#ador_plg_actionButton .product-image {
	overflow: visible;
}
@media (max-width: 900px) {
	#ador_plg_actionButton .product-image a img {
		max-height: 200px;
		max-width: 200px;
	}
}
#ador_plg_actionButton .product-name {
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
}
#ador_plg_actionButton .product-name a {
	font-size: 18px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
@media (max-width: 900px) {
	#ador_plg_actionButton .product-name {
		max-width: 100%;
	}
}
#ador_plg_actionButton .product-price {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
#ador_plg_actionButton .price-old {
	text-decoration: line-through;
	font-size: 13px;
}
#ador_plg_actionButton .product-vpe-price,
#ador_plg_actionButton .product-vpe-price a {
	text-align: center;
	font-size: 11px;
	color: #393939;
}
#ador_plg_actionButton .product-tax-shipping,
#ador_plg_actionButton .product-tax-shipping {
	text-align: center;
	font-size: 11px;
	color: #393939;
}
